<div class="books">Ваши списки:</div>
<div class="titles">
  <% @lists.each do |list| %>
    <div>
      <%= link_to list.list_name, "/books_in_the_list/#{list.id}" %>
      <%= %>
    </div>
  <% end %>
</div>

<div class="books">Ваши авторы:</div>
<div class="titles">
  <% @authors.each do |author| %>
    <div>
      <%= link_to author.name, "/authors_book/#{author.id}" %>
    </div>
  <% end %>

</div>

<div class="books"></div>

<div class="titles"><%= link_to "Добавить автора", "/add_author" %></div>
<div class="books"></div>
<div class="titles"><%= link_to "Добавить книгу", "/add_book" %></div>
<div class="books"></div>
<div class="titles"> <%= link_to "Добавить список", "/add_list" %></div>
<div class="books"></div>
<div class="titles"> <%= link_to "Добавить книгу в список", "/add_book_in_list" %></div>